.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.refresh-btn {
  width: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  right: -170px;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.refresh-btn.active {
  -webkit-animation: turnAround .6s linear;
  animation: turnAround .6s linear;
}

.member {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.member>div {
  width: 1000px;
  background: #F5F1F5;
  border-radius: 4px;
  overflow: hidden;
  margin: 15vh auto;
}

.member>div .member-title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #f4424a;
  color: #fff;
  position: relative;
}

.member>div .member-title h2 {
  font-size: 20px;
  line-height: 50px;
  margin-right: 20px;
}

.member>div .member-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  text-align: center;
}

.member>div .member-title ul li {
  width: 90px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.member>div .member-title ul li.active {
  background: #f58084;
}

.member>div .member-title img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.member>div .member-main {
  padding: 20px;
}

.member>div .member-main .report .report-title {
  height: 40px;
  padding: 5px 20px;
  line-height: 30px;
  border-bottom: 1px solid #f4424a;
  margin-bottom: 20px;
}

.member>div .member-main .report .report-title h2 {
  font-size: 18px;
}

.member>div .member-main .report .report-week {
  line-height: 26px;
  margin: 10px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.member>div .member-main .report .report-week h4 {
  font-size: 14px;
  line-height: 26px;
}

.member>div .member-main .report .report-week p {
  width: 120px;
  margin-left: 10px;
}

.member>div .member-main .report .report-week ul {
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
}

.member>div .member-main .report .report-week ul li {
  width: 100px;
  background: #f58084;
  color: #fff;
  cursor: pointer;
}

.member>div .member-main .report .report-week ul li:not(:last-child) {
  border-right: 1px solid #fff;
}

.member>div .member-main .report .report-week ul li.active {
  background: #f4424a;
}

.member>div .member-main .report .report-rule {
  padding: 0 20px;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.member>div .member-main .report .report-rule ul {
  height: 26px;
  line-height: 26px;
}

.member>div .member-main .report .report-rule ul li {
  width: 76px;
  background: #f58084;
  color: #fff;
  cursor: pointer;
}

.member>div .member-main .report .report-rule ul li:not(:last-child) {
  border-right: 1px solid #fff;
}

.member>div .member-main .report .report-rule ul li.active {
  background: #f4424a;
}

.member>div .member-main .report .report-rule select {
  width: 100px;
  margin-right: 10px;
}

.member>div .member-main .report>ul {
  margin: 20px;
  text-align: center;
}

.member>div .member-main .report>ul.report-table {
  background: #fff;
  color: #fff;
}

.member>div .member-main .report>ul.report-table li {
  height: 30px;
  line-height: 30px;
}

.member>div .member-main .report>ul.report-table li:first-child {
  height: 40px;
  line-height: 40px;
  background: #f58084;
}

.member>div .member-main .report>ul.report-table li:not(:first-child) {
  color: #333;
}

.member>div .member-main .report>ul.report-table li p:not(:last-child) {
  border-right: 1px solid #fff;
}

.member>div .member-main .report .report-filp {
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 30px;
}

.member>div .member-main .report .report-filp p {
  width: 80px;
  letter-spacing: 2px;
}

.member>div .member-main .report .report-filp button {
  width: 80px;
  height: 30px;
  border: none;
  background: #f4424a;
  color: #fff;
}

.member>div .member-main .report .report-filp>div:nth-child(2) {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.member>div .member-main .report .report-filp>div:nth-child(2) button {
  border-radius: 4px;
}

.member>div .member-main .report .report-filp>div:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.member>div .member-main .report .report-filp>div:last-child input {
  width: 80px;
  border: 0;
  padding: 0 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.member>div .member-main .report .report-filp>div:last-child button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mask-layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.mask-layer>div {
  width: 500px;
  background: #F5F1F5;
  border-radius: 4px;
  overflow: hidden;
  margin: 30vh auto;
}

.mask-layer>div h2 {
  height: 40px;
  line-height: 40px;
  background: #f58084;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.mask-layer>div ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.mask-layer>div ul li>div:first-child {
  width: 170px;
  text-align: right;
}

.mask-layer>div ul li>div:nth-child(2) {
  width: 140px;
}

.mask-layer>div ul li>div:nth-child(2) input {
  height: 30px;
  padding: 0 5px;
}

.mask-layer>div ul li>div:nth-child(3) {
  margin-left: 10px;
}

.mask-layer>div ul li>div:nth-child(3) span {
  color: #f4424a;
}

.mask-layer>div>div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #f58084;
  padding: 10px 0;
}

.mask-layer>div>div button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background: #f4424a;
  color: #fff;
}

.mask-layer>div>div button:first-child {
  margin-right: 20px;
}

.load {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.load .loader-wrapper {
  width: 148px;
  height: 100px;
  position: relative;
  margin: 35vh auto;
}

.load .loader-wrapper .loader {
  width: 148px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.load .loader-wrapper .loader:after {
  content: "";
  top: auto;
  position: absolute;
  display: block;
  -webkit-animation: shadow 1.2s infinite linear;
  animation: shadow 1.2s infinite linear;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  opacity: .3;
}

.load .loader-wrapper .roller, .load .loader-wrapper .roller:last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster 1.2s infinite linear;
  animation: rollercoaster 1.2s infinite linear;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.load .loader-wrapper .roller:last-child {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 1.2s infinite linear;
  animation: rollercoaster2 1.2s infinite linear;
}

.load .loader-wrapper .roller:before, .load .loader-wrapper .roller:last-child:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #f4424a;
  border-radius: 50%;
}

.load .loader-wrapper .loader2:after {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.load .loader-wrapper .loader2 .roller {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.load .loader-wrapper .loader3:after {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.load .loader-wrapper .loader3 .roller {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  8% {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  20% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  40% {
    -webkit-transform: rotate(380deg);
    transform: rotate(380deg);
  }
  45% {
    -webkit-transform: rotate(440deg);
    transform: rotate(440deg);
  }
  50% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
}

@keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  8% {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  20% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  40% {
    -webkit-transform: rotate(380deg);
    transform: rotate(380deg);
  }
  45% {
    -webkit-transform: rotate(440deg);
    transform: rotate(440deg);
  }
  50% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
}

@-webkit-keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  58% {
    -webkit-transform: rotate(-160deg);
    transform: rotate(-160deg);
  }
  70% {
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
  }
  80% {
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
  }
  90% {
    -webkit-transform: rotate(-340deg);
    transform: rotate(-340deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}

@keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  58% {
    -webkit-transform: rotate(-160deg);
    transform: rotate(-160deg);
  }
  70% {
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
  }
  80% {
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
  }
  90% {
    -webkit-transform: rotate(-340deg);
    transform: rotate(-340deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
    transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
    transform: translateX(30px) scale(2, 2);
  }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
    transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    transform: translateX(-15px) scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    transform: translateX(60px) scale(1.2, 1.2);
  }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    transform: translateX(130px) scale(2, 2);
  }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
    transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    transform: translateX(120px) scale(0.5, 0.5);
  }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
    transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: .3;
  }
}

@keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
    transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
    transform: translateX(30px) scale(2, 2);
  }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
    transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    transform: translateX(-15px) scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    transform: translateX(60px) scale(1.2, 1.2);
  }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    transform: translateX(130px) scale(2, 2);
  }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
    transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    transform: translateX(120px) scale(0.5, 0.5);
  }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
    transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: .3;
  }
}

@-webkit-keyframes turnAround {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes turnAround {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* # sourceMappingURL=common.css.map */